<div class="container-xl px-3 mt-5 mb-5">
    <!-- Contact Card -->
    <div class="contact-card">
        <!-- Header -->
        <div class="contact-header">
            <h1>Contact Us</h1>
            <p>We'd love to hear from you! Reach out to us for any questions or feedback.</p>
        </div>
        <!-- Contact Information -->
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p>Feel free to reach out to us via email, phone, or visit our office.</p>
            <ul>
                <li><strong>Email:</strong>
                    {{email}}
                </li>
                <li><strong>Phone:</strong> +91 8083371473</li>
                <li><strong>Address:</strong> 309 Journal Street AGC, Amritsar, Punjab</li>
            </ul>
        </div>

        <!-- Map -->
        <div class="map-container">
            <iframe
                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Amritsar group of colleges&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>
</div>