<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-lg-start text-dark " style="background-color: #292828">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-3 text-white" style="background-color: #ce9140">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class=" mx-5 ">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-4" style="background: #292828">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Journal App</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #f5f2f2; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">About Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Contact Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Terms of Service</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Products</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Spring Boot</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">JWT</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">MongoDB</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Your Account</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> 309 Journal Street AGC, Amritsar, Punjab</p>
                    <p><i class="fas fa-envelope mr-3"></i> {{email}}</p>
                    <p><i class="fas fa-phone mr-3"></i> +91 8083371473</p>
                    <p><i class="fas fa-print mr-3"></i> +91 8083371473</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-2 text-white" style="background-color: rgba(159, 110, 55, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="#">Journal App</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- End of .container -->